<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{restaurant.name}}" class="">

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item tab-item-active detail-tab-item" >
                Info
            </a>
            <a class="tab-item detail-tab-item">
                Reviews
            </a>
            <a class="tab-item detail-tab-item">
                Menu
            </a>
            <a class="tab-item detail-tab-item">
                Locatie
            </a>
        </div>
    </div>

    <ion-content class="padding" ng-controller="MapController">

        <br/><br/><br/>

        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide ng-repeat="image in restaurant.carousel">
                <div class="box"><img src="{{image}}" style="height: 170px"></div>
            </ion-slide>
        </ion-slide-box>

        <hr class="style-two">

        <h5>{{restaurant.name}}</h5>

        <div class="center">
            <p>
                <span class="ion-location"> {{restaurant.address}}</span><br/>
                <span class="ion-fork"> {{restaurant.type}}</span>
            </p>

            <p>
                <span class="ion-ios-people"> 0 vrienden vinden dit een hotspot</span><br/>
                <span class="ion-heart"> 0x gemarkeerd als hotspot</span>
            </p>
        </div>

        <hr class="style-two">
        <h5>Waarderingen</h5>
        <p>
            Service:
            Prijs / kwaliteit:
            Sfeer:
        </p>

        <hr class="style-two">
        <h5>Omschrijving</h5>
        <p ng-bind-html="restaurant.description"></p>

        <br /><br /><br /><br /><br /><br /><br />
        <div id="map" data-tap-disabled="true"></div>

        <img ng-src="{{restaurant.thumbnail}}" style="width: 64px; height: 64px">

        <p> list..... id : {{restaurant.id}}
            {{restaurant.type}}
        </p>
    </ion-content>
</ion-view>
