<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Filter</h1>
		<!-- Selected changes are applied immediately -->
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>

	  <form ng-submit="updateSearchSettings(searchSettings)">
	  
        <div class="list list-inset filter">

			<h5>Filter</h5>
            <label class="item item-input item-select">
                <div class="input-label">
                    Distance
                </div>
                <select>
                    <option>< 1 km</option>
                    <option>2 - 5 km</option>
                    <option>5 - 10 km</option>
                    <option>> 10km</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    City
                </div>
                <select ng-model="searchSettings.location">
                    <option></option>
                    <option>Amsterdam</option>
                    <option>Eindhoven</option>
                    <option>Rotterdam</option>
                    <option>Utrecht</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Cuisine
                </div>
                <select ng-model="searchSettings.cuisine">
                    <option></option>
                    <option>Belgian</option>
                    <option>French</option>
                    <option>Italian</option>
                    <option>Portuguese</option>
                </select>
            </label>
		
        </div>

        <div class="list list-inset filter">
            <h5>Sort</h5>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    Distance
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    Rating
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

	  </form>
	  
    </ion-content>
</ion-modal-view>