<!--
	Tabs for this one
-->

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <ion-tab title="Info" href="#/restaurant/">
    <ion-nav-view name="restaurant-detail"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Reviews" href="#/restaurant/{{restaurant.id}}/reviews">
    <ion-nav-view name="restaurant-reviews"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Menu" href="#/restaurant/{{restaurant.id}}/menu">
    <ion-nav-view name="restaurant-menu"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Locatie" href="#/restaurant/{{restaurant.id}}/location">
    <ion-nav-view name="restaurant-location"></ion-nav-view>
  </ion-tab>

</ion-tabs>
