/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 50%;
}

#search-box {
    margin-left: 0;
    margin-right: auto;
    position: absolute;
    width: 80%;
    background-color: rgba(255,255,255,0);
}

.detail-tab-item {
    text-transform: uppercase;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    border-bottom: 5px solid #d70f18 !important;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    line-height: 12px !important;
    height: 48px !important;
}

.clear-search{
    color: #aaa;
    margin-right: 0.15rem;
    font-size: 1.3rem;
}

.slider {
    height: 200px;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}
.slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    text-align: center;

    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*font-weight: 300;*/
}
.slider-pager-page {
    padding-top: 10px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/*hr styles, copied from http://jsfiddle.net/chriscoyier/GaEzp/35/*/
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
}
